* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

#calculator {
    position: relative;
    padding: 20px;
    height: auto;
    width: auto;    
    border-radius: 10px;
    box-shadow: 0 0 30px #0000;
}

body {
    font-family: sans-serif;
    background-color: #e9eeed;
}

body {
    background-image: linear-gradient( to bottom right, rgb(105, 59, 59))
}

.toggle{
    position: absolute;
    right: 50%;
    top: 5px;
    left: 40%;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.toggle.active {
    color: #333;
}

.toggle.active::before {
    background-color: #fff;
}

.toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#checkbox {
    position: relative;
    appearance: none;
    outline: none;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: #c3c3c3;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
  
#checkbox:checked {
    background: black;
}
  
#checkbox::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: inherit;
    width: 36px;
    height: 36px;
    background: #ffff00;
    transition: inherit;
}
  
#checkbox::after {
    content: '';
    position: absolute;
    top: -6px;
    right: calc(100% + 36px);
    border-radius: inherit;
    width: 36px;
    height: 36px;
    background: #c3c3c3;
    transition: inherit;
}
  
#checkbox:checked::before {
    left: calc(100% - 38px);
    background: #cccccc;
}
  
#checkbox:checked::after {
    right: 12px;
    background: black;
}

header {
    padding: 20px;
    background: var(--header-bg);
    color: var(--header-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
    height: 80px;
}

header #detail {
    font-size: 1em;
}

header #current{
    font-size: 2em;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

#calculator {
    background-color: #fff;
}

#calculator #display {
    color: #0a1e23;
}

#calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

#calculator button.numbers {
    background-color: #c3eaff;
    color: #000000;
}

#calculator button.operators {
    background-color: #ffd0fb;
    color: #f967f3;
}
  
#calculator button#equal {
    background-color: #adf9e7;
    color: #000;
}

  /* dark theme */

#calculator.dark {
    background-color: #071115;
}

#calculator.dark #display {
    color: #f8fafb;
}

#calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
}

#calculator.dark button.numbers {
    background-color: #1b2f38;
    color: #f8fafb;
}

#calculator.dark button.operators {
    background-color: #2e1f39;
    color: #aa00a4;
}
  
#calculator.dark button#equal {
    background-color: #223323;
    color: #ffffff;
}

  
